	table {
		border-collapse: separate;
		border-spacing: 50px;
		border: 4px solid rgb(150,150,150);
		background-color: #9cbc2c;
		letter-spacing: 1px;
		font-size: 0.8rem;
		margin-left: 450px;
		text-align: center;
	}
