a.bouton {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
a.bouton:hover {
  background-color: #6495ED;
}

body {
  
	background-color: lightgrey;
  
}

#Nuance{
	
	background-color: red;
	
	
}
