div#Cb{
		
	border: 4px solid rgb(150,150,150);
	text-align: center;
	font-size: 4rem;
		
}

div#PrI{
		
	border: 4px solid rgb(150,150,150);
	text-align: center;
		
}
div#BoI{
		
	border: 4px solid rgb(150,150,150);
	text-align: center;
		
}